// Type

$font-family-base: "Open Sans", Helvetica, Arial, sans-serif;
$font-family-mono: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

$font-size-root: 18px;
$font-size-sm: 16px;
$font-size-base: 18px;
$font-size-lg: 20px;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$line-height-base: 1.5;
$line-height-heading: 1.2;

$font-size-h1: 32px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;

// Colors

$white: rgb(255, 255, 255);
$dark: rgb(34, 34, 34);

$primary: rgb(13, 110, 253);
$secondary: rgb(128, 128, 128);
$success: rgb(25, 135, 84);
$info: rgb(13, 202, 240);
$warning: rgb(255, 193, 7);
$danger: rgb(220, 53, 69);

$state-colors: (
  primary: (
    text: shade-color($primary, 60%),
    background: tint-color($primary, 80%),
    border: tint-color($primary, 60%),
  ),
  secondary: (
    text: shade-color($secondary, 60%),
    background: tint-color($secondary, 80%),
    border: tint-color($secondary, 60%),
  ),
  success: (
    text: shade-color($success, 60%),
    background: tint-color($success, 80%),
    border: tint-color($success, 60%),
  ),
  info: (
    text: shade-color($info, 60%),
    background: tint-color($info, 80%),
    border: tint-color($info, 60%),
  ),
  warning: (
    text: shade-color($warning, 60%),
    background: tint-color($warning, 80%),
    border: tint-color($warning, 60%),
  ),
  danger: (
    text: shade-color($danger, 60%),
    background: tint-color($danger, 80%),
    border: tint-color($danger, 60%),
  ),
);

// Spacing

$spacer: 16px;

$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

// Styles

$border-radius: 4px;
$border-color: tint-color($dark, 80%);

$elevation: (
  1: 0 4px  8px  0 rgba(0, 0, 0, 0.1),
  2: 0 8px  16px 0 rgba(0, 0, 0, 0.1),
  3: 0 16px 24px 0 rgba(0, 0, 0, 0.1),
);

// Container

$container-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);
