%grid {
  display: grid;
  gap: spacer(3);
}

.grid {
  @extend %grid;
}

@for $i from 2 through 12 {
  .grid-#{$i} {
    @extend %grid;
    grid-template-columns: repeat($i, 1fr);
  }
  @each $k, $v in $container-breakpoints {
    .grid-#{$k}-#{$i} {
      @extend %grid;
      @media (min-width: container-breakpoint($k)) {
        grid-template-columns: repeat($i, 1fr);
      }
    }
  }
}
