{{ define "main" }}
  <div class="container-xl">
    {{ .Content }}
    {{ with .Params.cards }}
      <div class="grid grid-md-{{ . | len }}">
        {{ range . }}
          <div class="card card--primary">
            <div class="card__body">
              <div class="card__header">
                <h2>
                  {{ .title }}
                </h2>
              </div>
              <div class="card__content">
                {{ .content | $.Page.RenderString (dict "display" "block") }}
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}
